body {
    background-color: black;
    color: white;
    font-family: Raleway, serif;
}

.nav {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 10%;
    padding-left: 10px;
    border-bottom: 2px solid #CC0000;
    background-color: #660099;
    overflow: auto;
}

.logo1 {
    color: #CC0000;
}

.logo {
    float:left;
    margin: 2vh 1vw 0px 0px;
}

.logo_name {
    float: left;
    font-size: 40px;
    margin: 2.4vh 0px 0px 0px;
}

.songList {
    position: absolute;
    top: 10%;
    left: 0px;
    bottom: 0px;
    width: 15%;
    border-right: 3px solid #CC0000;
    border-top: 3px solid #CC0000;
    background-color: #191919;
}

.songHeader {
    text-align: center;
    padding-bottom: 20px;
    margin-top: 3vh;
}

.song {
    cursor: pointer;
    text-align: center;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    font-size: 20px;
    border: 3px solid #660099;
    border-radius: 10px;
    overflow:auto;
}

.chosen_song {
    background-color: #660099;
    cursor: default;
}

.song:hover {
    background-color: #777777;
}

.chosen_song:hover {
    background-color: #660099;
}

.effectHeader {
    margin: 3vh 10px 2vh 10px;
}

.effectList {
    position: absolute;
    top: 10%;
    right: 0px;
    bottom: 0px;
    width: 85%;
    text-align: center;
}

.effectGroup {
    margin: 1vh 1vw 5vh 5vw;
}

.drumName{
    text-align: center;
    float: left;
    width: 5vw;
    font-size: 20px;
    text-transform: uppercase;
}



.drumbox {
    height: 3vw;
    width: 3vw;
    background-color: #CC0000;
    display:inline-block;
    margin: 5px;

}

.drumbox.on {
    background-color: #660099;
}

.drumbox.endBeat, .metronomeBox.endBeat {
    margin-right: 30px;
}

.drumbox:hover {
    background-color: #ffffff;
    cursor: pointer;
}

.drumbox.on:hover{
    background-color: #660099;
}

.metronomeGroup {
    margin: 1vh 1vw 1vh 10vw;
}

.metronomeBox {
    height: 0.7vw;
    width: 3vw;
    background-color: #660099;
    display:inline-block;
    margin: 5px;
}

.metronomeBox.on {
    background-color: white;
}

.tapTempoContainer {
    margin: 10px 10px 10px 10px;
}

.tapTempo {
    width: 5%;
    color: black;
}

.tapTempoHeader {
    font-weight: bold;
    font-size: 20px;
}

.instructions {
    font-size: 15px;
}

img{
    cursor: pointer;
}

button {
    color: black;
}

h3 {
    font-size: 35px;
    margin-bottom: 2vh;

}

